@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Insurance</h1>
    <p class="lead">Receive your car insurance quote</p>
    <p><a href="~/Insuree/Create" class="btn btn-primary btn-lg">Click Here &raquo;</a></p>
</div>

